name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  testing:
    name: 'OS: ${{ matrix.os }}'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        node-version: [10.x]
        os: [windows-latest, macOS-latest]

    steps:
      - name: Checkout project code
        uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Installation
        run: npm install
      - name: Testing
        run: npm run test:coverage
        env:
          CI: true
